/* Navbar */
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

.icon_container {
    display: flex;
}

.Box {
    border: 1px solid white;
    border-radius: 15px;
    height: 115px;
    width: 246.113px;
    margin: 1px 0 0 0;
    padding: 30px 25px 30px 25px;
    margin-right: 20px;
    box-shadow: 2px 5px rgb(211, 206, 206);
    background-color: white;

}

.iconcontainer p {
    color: #e4195d;
}


/* footer */
h3 {
    padding-top: 20px;
    padding-left: 20px;
}

.footer_container {
    display: flex;
}

.footer {
    border: 1px solid white;
    border-radius: 15px;
    height: 22px;
    width: 193.336px;
    margin: 1px 0 0 0;
    padding: 30px 25px 30px 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.FC {
    padding-top: 60px;
    padding-left: 20px;
}

#mainContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    font-family: sans-serif;
    color: #717171;
    font-size: 12px;
}

.fristsection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;


}

.fristsection>div {
    width: 40%;
}

.leftsection {
    margin: 30px 0;

}

.rightsection img {
    width: 80%;
}

.leftsection h1 {
    font-size: 3rem;
}


.BTN {
    background-color: turquoise;
    border-radius: 25px;
    color: rgb(47, 69, 68);
    border: none;
    padding: 7px;
    font-size: 1rem;
    font-family: poppins;
    align-items: center;



}

.BTN:hover {
    background-color: rgb(154, 247, 238);
}

#element {

    color: turquoise;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.card {
    height: 180px;
    
    /* width: 180px; */
    margin: 0 1em;
    /* width: calc(100%/2); */


}

.image-wrapper {
    /* height: 180px; */
    margin: 0 auto;
}


.card {
    display: none;
}

.image-wrapper img {
    max-width: 100%;
    /* max-height: 100%; */
}